* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 54%, 90%);
}

div.center {
    background-color: white;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; /* Add your desired padding value here */
    border-radius: 10px;
    
}