* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 54%, 90%);
}

div.parent {
    display: flex;
    justify-content: center; /* Horizontally centers the div */
    align-items: center;     /* Vertically centers the div */
    height: 90vh;           /* Full height of the viewport */
     /* You can use any background color */   
}

div.child {
    padding: 20px;
    background-color: hsl(30, 54%, 98%);
    border-radius: 13px;
}

img.image {
    border-radius: 13px;
}
